<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Some Website</title>
</head>
<body>
	<h1>{{pageTitle}}</h1>
	{{>  header}}
	<p>Reprehenderit commodo tempor mollit pariatur excepteur sed elit pariatur qui voluptate nisi ut laborum adipisicing minim eu laboris incididunt incididunt excepteur do sit aliquip eu ad esse non quis elit in consectetur dolore in labore incididunt.</p>
	
	{{> footer}}
</body>
</html>